<div class="container">

<h1>ログイン画面</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row justify-content-center mt-5">
      <div class="col-2"><%= f.label :email %></div>
      <div class="col-8"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-2"><%= f.label :password %></div>
      <div class="col-8"><%= f.password_field :password, autocomplete: "current-password" %></div>
    </div>

    <div class="row justify-content-center mt-3">
      <%= f.submit "ログイン" %>
    </div>

    <div class="row justify-content-center mt-3">
      <h5>新規登録は</h5><h5><%= link_to 'こちら', new_user_registration_path %></h5>
    </div>

  <% end %>

</div>